@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p{
    margin: 0 0 0 10px;
    padding: 10px 0 0 0 ;
}
ul{
    margin: 0;
    list-style: none;
    padding: 4px;
}
a{
    cursor: pointer;
    color: black;
}
.profiles-conitain{
    width: 100%;
    height: 1500px;
}
.profiles-header{
    width: 100%;
    height: 15%;
    background-color: whitesmoke;
}
.profiles-img-names{
    width: 30%;
    height: 100%;
    float: left;
}
.profiles-img {
    width: 375px;
    height: 185px;
    /* background-color: whitesmoke; */
}
.profiles-img img{
    width: 47%;
    border-radius: 90px;
    box-shadow: 18px 0px 13px 0px #ccc;
    height: 100%;
    object-fit: cover;
    padding: 5px 0 0 5px;
    margin: auto;
}
.profiles-names{
    width: 100%;
    height: 20%;
    background-color: whitesmoke;
}
.profiles-names-naves{
    width: 30%;
    height: 100%;
    float: right;
    position: relative;
}
.profiles-naves{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    background-color: whitesmoke;
}
.profiles-naves-contains{
    width: 200px;
    height: auto;
    position: relative;
    margin: 0 15px 0 0;
   
}
.profiles-hidden-nav{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;
    z-index: 1;
    
}
.profiles-hidden-nav a:hover{
    background-color: rgb(247, 240, 227);
    transition: 0.5s;
}
.profiles-naves-contains:hover .profiles-hidden-nav{
    display: block;
    
}
.profiles-body{
    width: 100%;
    height: 85%;
    
}
.profiles-contact-info{
    width: 100%;
    height: 50%;
    display: flex;
    background-image: url('../../preserve/health_safety_environment_policies.jpg');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    animation: scroll 70s linear infinite;
    /* background-color: none; */
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
@keyframes scroll {
    100%{
     background-position:0px -3000px;
   }
 }
 
 @media (prefers-reduced-motion) {
    .profiles-contact-info {
     animation: scroll 200s linear infinite;
   }
 }
 @media (min-width: 670px) {
    .hcc a {
     font-size: 20px;
   }
 }
.profiles-contacts{
    width: 30%;
    height: 100%;
    
}
.profiles-contacts h3, .profiles-contacts p{
    font-family: 'Roboto Condensed', sans-serif;
}
.profiles-contacts-types{   
    width: 100%;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid #7a7875;
}

.profiles-contacts-types p{
    padding-left: 20px;
} 

.profiles-contacts-services{
    width: 100%;
    height: 50%;
    background-color: white;
}
.profiles-contacts-services h4{
    margin: 25px 0 0 25px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.profiles-info{
    width: 70%;
    height: 100%;
    background: linear-gradient(45deg, white, #97c0eec2);
}
.profiles-discription, .profiles-vision, .profiles-overviews{
    width: 90%;
    height: 33.33%;
    padding: 0px;
    border-bottom: 1.5px solid #9d6363;
    font-family: 'Zen Kurenaido', sans-serif;
}
.profiles-overviews{
    border: none;
}
.logout{
    width: 75px;
    height: 25px;
    text-align: center;
}
.profiles-contact-projects{
    width: 100%;
    height: 35%;
    background: linear-gradient(45deg, #bee4f4, #fff4f4b3);
    position: relative;
}
/* .profiles-contact-projects .project-body{
    align-items: center;
    justify-content: center;
} */
.profiles-contact-projects  .prj-contin-body {
    width: auto;
}
.profiles-contact-projects .project-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profiles-contact-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}
@media only screen and (max-width: 750px){
    .profiles-img {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
    }
    .profiles-img img {
        width: 30%;
    }
    .profiles-naves {
        bottom: 5px;
    }
    .profiles-conitain {
        height: 2000px;
    }
    .profiles-img-names {
        width: 50%;
        height: 50%;
        float: none;
    }
    .profiles-names {
        font-size: 10px;
    }
    .profiles-naves-contains h3{
        font-size: 12px;
    }
    .profiles-names-naves {
        width: 50%;
        height: 50%;
        float: right;
        position: relative;
    }
    .profiles-contact-info{
        display: initial;
    }
    .profiles-contacts{
        width: 100%;
        height: 30%;
    }
    .profiles-info{
        width: 100%;
        height: 70%;
    }
    .profiles-header {
        height: 5%;
    }
    .profiles-contact-projects {
        height: 50%;
    }
}