.account{
    width: 100%;
    height: 1000px;
    background-color: azure;
}
.account-body{
    /* 1294.89px 700 */
    width: 100%;
    height: 700px;
}
.account-header{
    width: 100%;
    height: 20%;
}

.account-head{
    width: 100%;
    height: 50%;
}
.account-logo{
    height: 100%;
    width: 300px;
    float: left;
    background-color: whitesmoke;
}
.account-greatings{
    height: 100%;
    width: 300px;
    float: right;
    /* background-color: rgb(250, 250, 250); */
}
.account-nav-contain{
    width: 100%;
    height: 50%;
    border-top: 1px solid burlywood;
    display: flex;
}

.account-nav{
    width: 70%;
    height: 100%;
    position: relative;
    background-color: whitesmoke;
}
.account-nav-profil-logout{
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}
.accNP{
    position: relative;
    width: 120px;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 60px;
    background: white;
}
.accNP a{
    color: black;
}
.accNP button{
    border: 0px;
}

.account-section{
    width: 100%;
    height: 80%;
    
}
.account-section-contain{
    width: 80%;
    height: 100%;
    margin: auto;

}
.account-Componets{
    /* 1193.37 560 */
    width: 1073.37px;
    height: 560px;
    /* background-color: brown; */
    position: relative;
}
.account-feature{
    width: 1073.37px;
    height: 10%;
    border-radius: 1pc;
    background: linear-gradient(45deg, #6f49fe, transparent);
    margin: 35px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid black; */
}

.button-container{
    width: 100px;
    height: 50px;
}
.button-container p{
    padding: 0;
    margin: 0;
}