/* @import url('../../responseive.css'); */
.Logsection{
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #daebf2, transparent);
    /* background-color: cornsilk; */
}
.logBody{
    width: 35%;
    height: 81%;
    background-color: rgb(247 247 247 / 73%);
}
.logHeader{
    width: 100%;
    height: 10%;
    background-color: ghostwhite;
    display: flex;
}
.signin{
    width: 50%;
    height: 100%;
    text-align: center;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid #d0caca; */
}
.signup{
    width: 50%;
    height: 100%;
    text-align: center;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logForm{
    width: 100%;
    height: 90%;
    /* background-color: gainsboro; */
    position: relative;
}
.signinForm{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    position: absolute;
}
.signinForm input, .signupForm input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0;
}
.signupForm{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    position: absolute;
}
@media only screen and (max-width: 800px) {
    .logBody {
        width: 90%;
        height: 75%;
    }
      .signinInputBody {
        width: 100%;
    } 
    form {
        width: 90%;
    } 
    .signupInputBody {
        width: 95%;
    }
    .signinForm input, .signupForm input{
        padding: 15px 8px;
    }
    .signupForm .inputBody {
        width: 100%;
        height: 52px;
    }
}

